@font-face {
  font-family: 'Delicious-Bold';
  src: url('../fonts/Delicious-Bold.otf') format('opentype');
  /*    This could also be Reef, but i like delicous more :c    */
}


body {
    padding: 0px;
    margin: 0px;

    overflow-x: hidden;
}





/* Preloader */
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:100000000;
}

#status {
    width:150px;
    height:150px;
    position:absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}
@media only screen and (max-width: 768px) {
  #status {
    width:75px;
    height:75px;
  }
}




.section-heading {
    font-family: 'Days One', sans-serif;
    font-size: 5vh;
    font-weight: bold;
}

.section-subheading {
    font-size: 16px;
    font-style: italic;
    font-weight: 350;
}

.navbar, .navbar-default {
    background-color: transparent;
    /*rgba(0, 0, 0, 0.4)*/
    margin-bottom: 0;
    min-height: 50px;
    border-bottom: none;
    /*1px solid white !important*/
}
.navbar.show, .navbar-default.show {
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.nav li {
    display: inline;
    color: white;
    text-align: center !important;
    transition: 1s ease;
}

.navbar-brand img {
  transition: all 1s ease;
    width: 100px;
    margin-top: -10px;

    margin-bottom: 5px !important;
}
.navbar-brand img.smallLogo {
    transition: all 0.3s ease;
    width: 50px;

    margin-bottom: 5px !important;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 1.7em;
    font-weight: 300;
    margin: 5px;
    font-family: 'Asap', sans-serif;
    background-color: transparent !important;
}

/*.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}*/

.nav-sec {
    transition: all ease 0.9s;
}

@media only screen and (max-width: 768px) {
  .nav-sec {
      transition: all ease 0.9s;
  }

  .nav-sec:hover {
    /*box-shadow: inset 100vw 0 0 0 #E0E0E0 !important;*/
  }
}

.nav-sec:hover {
    text-shadow: none !important;
    color: white !important;
}

.booty {
    background-color: transparent;
    border: transparent !important;
}
.booty:hover {
  background-color: transparent !important;
}
.booty:active {
  background-color: transparent !important;
}

#toggle {
    display: none;
}


/**
  Hamburger
**/

.hamburger {
    width: 2em;
    height: 25px;
    margin-top: -10px;
    z-index: 5;
}

.hamburger div {
    position: relative;
    width: 2em;
    height: 5px;
    background-color: white;
    border-radius: 20px;
    margin-top: 7px;
    transition: all 0.3s ease-in-out;
}

#toggle:checked+.hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 20px;
}

#toggle:checked+.hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked+.hamburger .meat {
    transform: rotate(45deg);
    margin-top: -3px;
}

#toggle:checked+.hamburger+.nav {
    top: 0;
    transform: scale(1);
}

video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background: url(http://i66.tinypic.com/rrk07r.jpg) no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#header {
    margin-bottom: 50px;
}

#header span {
    display: inline-block;
    margin-top: 0;
    font-family: 'Delicious-Bold';
    /*font-family: 'Gochi Hand', cursive;*/
    font-size: 3.3em;
    color: white;
}

@media only screen and (max-width: 992px) {
  #header span {
    font-size: 3em !important;
  }

  #sub-head span {
    font-size: 1.3em !important;
  }
}

@media only screen and (max-width: 768px) {
  #header span {
    font-size: 2.6em !important;
  }

  #sub-head span {
    font-size: 1.4em !important;
    width: 50% !important;
  }
}

@media only screen and (max-width: 600px) {
  .erickHead {
    margin-bottom: 20px !important;
  }
  #header span {
    font-size: 2.4em !important;
  }

  #sub-head span {
    font-size: 1.2em !important;
    width: 58% !important;
  }

  .hire-btn button {
    font-size: 105% !important;
    width: 175px !important;
  }
}

@media only screen and (max-width: 500px) {
  #header span {
    font-size: 2em !important;
  }

  #sub-head span {
    font-size: 1em !important;
    width: 65% !important;
  }
}

@media only screen and (max-width: 385px) {
  #header span {
    font-size: 1.8em !important;
  }

  #sub-head span {
    font-size: 1em !important;
    width: 70% !important;
  }
}

#sub-head span {
    margin: 0 auto;
    width: 45%;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
    /*font-weight: bold;*/
    font-size: 1.3em;
    color: white;
}

.hire-btn button {
    position: relative;
    font-size: 115%;
    width: 250px;
    text-align: center;
    background-color: transparent;
    border: 2.5px solid rgba(105, 240, 174, 1);
    color: white/*rgba(0, 230, 118, 1)*/;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease;

    animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
}

.hire-btn button:hover {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0, 230, 118, 1);
}

.animate-ee {
    color: rgba(0, 230, 118, 1) !important;
    animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.animate-rr {
    color: rgba(0, 230, 118, 1) !important;
    animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
}

.animate-ii {
    color: rgba(0, 230, 118, 1) !important;
    animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.animate-cc {
    color: rgba(0, 230, 118, 1) !important;
    animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}

.animate-kk {
    color: rgba(0, 230, 118, 1) !important;
    animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.animate-sub {
    animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
}


/*h1.head {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 7vw;
  color: white;
}*/


/* D1E9EA */


/* h4.sub {
  width: 60%;
  line-height: 1.3;
  font-family: 'Delius', cursive;
  font-weight: bold;
  font-size: 1.3em;
  color: #F3FBF1;
} */

#banner {
    width: 100%;
    height: 100vh;
    /*background-image: url(http://i66.tinypic.com/rrk07r.jpg);
  background-size: cover;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    /*text-align: center;

  overflow: hidden;*/
}

.banner-image {
    width: 250px;
    border-color: white;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
}

hr {
    margin-top: -5px;
    margin-bottom: 19px;
    border-width: 3px;
    clear: both;
    display: block;
    width: 10%;
    background-color: #F3FBF1;
    height: 2px;
    text-align: center;
}


/* hr:after {
  content: '\0026AB';
  position: relative;
  top: -16px;
  padding: 0 10px;
  color: white;
  font-size: 23px;
} */

#content {
    width: 100%;
    margin: 0 auto 20px;
    top: 100vh;
    position: absolute;
    height: 100%;
}

.tools-heading {
    margin-top: 150px;
    margin-bottom: 100px;
}

.tools {
    padding-bottom: 150px;
    padding-right: 150px;
    padding-left: 150px;
    background: white;
}
@media only screen and (max-width: 768px) {
    .tools {
      padding-right: 40px !important;
      padding-left: 40px !important;
    }
}
@media only screen and (max-width : 480px) {
  .tools-heading {
      margin-top: 70px;
      margin-bottom: 50px;
  }
  .tools {
    padding-bottom: 70px;
  }
}

.tool-item {
  animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.img {
    margin-top: 50px;
    width: 200px;
}

.aboutme-heading {
    margin-top: 150px;
    margin-bottom: 100px;
}

.aboutme {
    padding-bottom: 150px;
    background-color: rgba(245, 255, 245, 1);
}
@media only screen and (max-width : 480px) {
  .aboutme-heading {
      margin-top: 70px;
      margin-bottom: 50px;
  }
  .aboutme {
      padding-bottom: 70px;
  }
}

.aboutme-content {
    display: flex;
    align-items: center;
    float: left;
    clear: both;
    width: 100%;
    margin: 0 0 15px;
}

.aboutme-element {
    display: block;
    max-width: 100%;
    height: auto;
    float: left;
}


/* Pic of me: http://i66.tinypic.com/24v1mif.jpg */

.aboutme-img {
    margin: 0 10% 0 10%;
    border-radius: 50%;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all 0.7s ease;
}

.colorize {
  filter: none !important;
}

.aboutme-text {
    margin: 0 10% 0 0;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .aboutme-element {
        width: 100%;
    }
    .aboutme-content {
        display: block;
    }
    .aboutme-img {
        width: 65% !important;
        margin-left: 17%;
        margin-bottom: 10%;
    }
    .aboutme-text {
        padding: 0 10%;
    }
}

@media only screen and (min-width: 500px) {
    .aboutme-img {
        width: 350px;
    }
}

p.tabby {
    text-indent: 3em;
}

.portfolio {
    background: rgba(245, 255, 245, 1);
}

.portfolio-heading {
    margin-top: 150px;
    margin-bottom: 100px;
}

.portfolio-grid {
    padding-bottom: 150px;
}
@media only screen and (max-width : 480px) {
  .portfolio-heading {
      margin-top: 70px;
      margin-bottom: 50px;
  }
  .portfolio-grid {
      padding-bottom: 100px;
  }
}

.portfolio-item {
    padding: 15px;
    margin: 0px 0 20px 0px;
    opacity: 0.6;
    transition: all 0.6s ease;

    animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.portfolio-item:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .portfolio-item {
        float: none;
        margin: 0 auto;
        width: 75%;
    }
}

.portfolio-item img {
    border-radius: 2%;
}

.contact-heading h2 {
    color: white;
}

.contact-heading h3 {
    color: white;
}

.contact-heading {
    bottom: 10vh;
}

.contact {
    /*     height: 50vh; */
    /* alternative background image: http://i67.tinypic.com/2yn588x.jpg http://i68.tinypic.com/33z8sqc.jpg */
    background-image: url(http://i67.tinypic.com/2yn588x.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-height: 105vh;
    display: flex;
    align-items: center;
}

.container.inform {
    width: 40%;
}

.form-group {
    font-family: 'Ubuntu', sans-serif;
}

.form-control {
    transition: .5s border-color;
}

.form-control:focus {
    box-shadow: inset 0 0 5px rgba(0, 230, 118, 1);
    border-color: rgba(0, 230, 118, 1);
}

.form-group input, .form-group textarea {
    height: auto;
    padding: 20px;
}

::-webkit-input-placeholder {
    font-size: 16px;
}

.submit-btn button {
    position: relative;
    font-size: 115%;
    width: 250px;
    text-align: center;
    background-color: white;
    border: 2.5px solid rgba(0, 230, 118, 1);
    color: rgba(0, 230, 118, 1);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: 1s ease;

    margin-bottom: 30px;
}

.submit-btn button:hover {
    background-color: rgba(0, 230, 118, 1) /*#64FFDA*/;
    transition: 1s background-color;
    color: white;
}

@media screen and (max-width: 995px) , screen and (max-height: 700px) {
  .submit-btn button {
      margin-bottom: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .container.inform {
      width: 60%;
    }
    .submit-btn button {
        width: 180px;
    }
}

@media only screen and (max-width: 480px) {
  .contact-heading {
      bottom: 10px;
      top: 30px !important;
  }
  form {
    margin-top: 4em;
  }
  .contact {
      display: block !important;
  }
  .container.inform {
      width: 80%;
    }
    .submit-btn button {
        width: 150px;
    }
}

@media only screen and (max-width: 360px) {
  .contact-heading {
      bottom: 10px;
      top: 30px !important;
  }
  form {
    margin-top: 30px;
  }
  .container.inform {
      width: 85%;
    }
    .form-control {
        height: 60px !important;
    }
    .submit-btn button {
        font-size: 100% !important;
    }
}



.quote {
    height: 400px;
    overflow: hidden;
    /* Parallax */
    background-image: url(http://i64.tinypic.com/1zyy9vr.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

blockquote {
  width: 80%;
    font-family: 'Droid Serif', serif;
    border: none;
    color: white;
    padding: 0.3em 130px;
    line-height: 1.3;
    position: relative;
    font-size: 2em;
}

blockquote cite {
    color: white;
    font-size: 0.6em;
}

.fa-quote-left {
    margin-left: -25px;
}

.fa-quote-right {
    margin-right: -25px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

@media only screen and (max-width: 650px) {
  blockquote {
    width: 90%;
      margin: 0 auto;
      padding: 20px !important;
      line-height: 1.2;
      position: relative;
      font-size: 2em;
  }

  blockquote cite {
      font-size: 0.5em;
  }
}

footer {
    margin-top: -150px;
    width: 100%;
    height: 150px;
    /*padding: 10px 0;*/
    background-color: rgba(0, 0, 0, 0.4);
}

footer .row {
    margin-top: 33px !important;
}

@media only screen and (max-width: 480px) {
  footer {
    margin-top: -120px;
    height: 120px;
  }
  footer .row {
      margin-top: 17px !important;
  }
}
@media only screen and (max-width: 350px) {
  footer {
    margin-top: -100px;
    height: 100px;
  }
  footer .row {
      margin-top: 10px !important;
  }
}

.social {
    color: white;
    font-size: 40px;
    padding: 15px;
    transition: .5s ease;
}

footer .social:hover {
    color: rgba(0, 230, 118, 1);
    transition: 0.3s ease;
}


/*APPROACH 1 to centering footnote*/

footer span {
    /*line-height: 71px;*/
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
}

footer span a {
    color: inherit;
}
footer span a:hover {
    color: inherit;
}


/*APPROACH 2 to centering footnote*/


/*
footer .row {
  display: flex;
  align-items: center;
}
*/


/*APPROACH 3 to centering footnote*/


/* footer span {
  display: block;
  margin-top: 25px;
} */


/* On hover underline animation*/
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: rgba(0, 230, 118, 1);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Wobble To Bottom Right */
@-webkit-keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }

  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }

  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.hvr-wobble-to-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-to-bottom-right:hover, .hvr-wobble-to-bottom-right:focus, .hvr-wobble-to-bottom-right:active {
  -webkit-animation-name: hvr-wobble-to-bottom-right;
  animation-name: hvr-wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.rubberBand {
  animation-duration: 0.3s !important;
}

/*
http://codepen.io/aniketpant/pen/DsEve?editors=1100
https://codepen.io/chrisota/pen/pwgAe
*/
